<div class="create-list-container">
    

    <form class="create-list-form" (ngSubmit)="onButtonClicked()">
    <div>
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" [(ngModel)]="name" />
    </div>

    <div>
        <label for="quantity">Item quantity:</label>
        <input id="quantity" name="quantity" type="text" [(ngModel)]="quantity" />
    </div>

    <div>
        <label for="price">Price:</label>
        <input id="price" name="price" type="text" [(ngModel)]="price" />
    </div>

    <button type="submit">{{buttonText}}</button>
    </form>


</div>